{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PART_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}