@import '@/assets/styles/vars.scss';

.item {
	@apply relative h-full overflow-hidden;
	min-height: rem(400);

	@media (any-hover: hover) {
		&:hover {
			.image {
				@apply scale-125;
			}
			.title,
			.text {
				@apply scale-90;
			}
		}
	}

	@media (max-width: $md) {
		min-height: rem(350);
	}

	.image {
		@apply image-like-bg z-0 transition-transform duration-600;
	}

	.link {
		@apply flex items-end justify-start xl:p-9 p-7 h-full relative;

		&::before {
			content: '';
			@apply absolute top-0 left-0 w-full h-full z-1 bg-black bg-opacity-40;
		}
	}

	.content {
		@apply relative z-2 text-white space-y-3;
	}

	.title {
		@apply font-raleway lg:text-4xl text-3xl uppercase transition-transform duration-600;
	}

	.text {
		@apply font-medium transition-transform duration-600;
		font-size: rem(15);

		@media (max-width: $md) {
			font-size: rem(13);
		}
	}
}
