@import '@/assets/styles/vars.scss';

.root {
	@apply md:space-y-5 space-y-4;
	flex: 0 1 rem(570);

	@media (max-width: $lg) {
		flex: 1 1 auto;
	}

	.title {
		@apply md:text-5xl text-3xl lg:text-left text-center;
	}

	.wrapper {
		@apply flex justify-center;
	}

	.links {
		@apply flex flex-col justify-center text-center gap-y-2;
	}

	.btn,
	.link {
		@apply font-bold;
	}

	.btn {
		@apply btn-primary;
	}

	.link {
		@apply btn-secondary;
	}

	.description {
		[class='wp-video'] {
			width: 100% !important;
		}
	}
}
